.product-card > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
    gap: 24px;
}

.product-card img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
}

.product-card li {
    border: 1px solid #dadada;
    padding: 16px;
}

.product-card button {
    width: 100%;
}

.product-card .product-card-name {
    font-weight: bold;
}

.product-card .product-card-price {
    font-weight: bold;
    font-size: 1.2em;
}